
.header {
  display: flex;
  align-items: center;

  /*width: 360px;*/
  margin: 0 auto;

  box-sizing: border-box;
}

.header__logo {
  margin-right: 26px;
}

@media all {

}

@media (--large-device) {
  .header__logo {
    margin-right: 40px;
  }

}
/*@media (min-width: 1440px) {*/
/*  .header__logo {*/
/*    margin-right: 40px;*/
/*  }*/
/*}*/
