.repository__name {
  padding-left: 20px;
}

.repository__name::before {
  content: "";

  position: absolute;
  left: 0;
  top: 50%;

  transform: translateY(-60%);

  display: block;
  width: 12px;
  height: 20px;

  background: url("./img/folder.svg") no-repeat center;
}
