.text_size_s {
  font-size: var(--font-size-s);
  line-height: var(--line-height-s);
}

@media (--large-device) {
  .text_size_s {
    font-size: var(--font-size-m);
    line-height: var(--line-height-m);
  }
}
