.dir {
}

.dir__row {
  display: flex;
  flex-wrap: wrap;
  padding-left: 0;
  margin: 0;

  list-style: none;
}

.dir__column {
}

.dir__item {
}

.dir__header {
  display: none;
  list-style: none;
  padding: 0;
  margin: 0;
}

.dir__footer {
  display: none;
}

.dir__content {
  position: relative;
  /*display: table-row-group;*/
}

.dir__name {
  display: block;
  position: relative;
  padding-left: 20px;
  margin-right: 100%;

  font-weight: bold;

  order: 1;
}

.dir__name::before {
  content: "";

  position: absolute;
  left: 0;
  top: -1px;

  display: block;
  width: 12px;
  height: 20px;

  background: url("./img/folder.svg") no-repeat center;
}

.dir__hash {
  color: var(--text-color-link);

  margin-right: var(--space-xs);
  order: 3;
}

.dir__message {
  order: 2;

  white-space: nowrap;
  display: block;
  margin-right: 100%;
}

.test {
  display: block;
}

.dir__committer {
  margin-right: 4px;
  order: 4;
}

.dir__date {
  order: 5;
}

.dir__link {
  position: absolute;
  right: 0;
  top: 50%;

  transform: translateY(-50%);

  display: block;
  width: 50px;
  height: 100%;

  background: url("./img/link_arrow.svg") no-repeat right center;
}

.dir_view_short {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  padding-top: var(--space-xxs);

  & .dir__item {
    margin: 0;
  }

  & .dir__row {
    width: 160px;
    margin-top: var(--space-xs);
    padding-left: var(--space-m);

    box-shadow: 0 0 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    border-radius: 5px;
  }

  & .dir__row:first-child {
    //margin-top: var(--space-s);
  }

  & .dir__hash {
    display: none;
  }

  & .dir__message {
    display: none;
  }

  & .dir__committer {
    display: none;
  }

  & .dir__date {
    display: none;
  }

  & .dir__link {
    display: none;
  }
}

.dir__row_time_old {
  border-bottom: 2px solid var(--border-color-gray);
}

.dir__row_time_recent {
  border-bottom: 2px solid var(--border-color-purple);
}

@media (--large-device) {
  .dir {
    display: table;
    width: 100%;
  }

  .dir__row {
    display: table-row;

    text-decoration: none;
  }

  .dir__column {
    display: table-column;
  }

  .dir__item {
    display: table-cell;
    border-bottom: 1px solid var(--color-gray);
    padding-top: var(--space-m);
    padding-bottom: var(--space-m);
  }

  .dir__header {
    display: table-header-group;
    list-style: none;
    padding: 0;
    margin: 0;
  }

  .dir__footer {
    display: table-footer-group;
    padding-top: var(--space-s);
    padding-bottom: var(--space-s);
  }

  .dir__item_position_footer {
    border-bottom: none;
  }

  .dir__content {
    display: table-row-group;
  }

  .dir__name {
    position: relative;
    padding-left: 20px;
    margin-right: 100%;

    font-weight: bold;
  }

  .dir__name::before {
    content: "";

    position: absolute;
    left: 0;
    top: 50%;
    transform: translateY(-50%);

    /*transform: translate(-100%);*/

    display: block;
    width: 12px;
    height: 20px;

    background: url("./img/folder.svg") no-repeat center;
  }

  .dir__hash {
    color: var(--text-color-link);
  }

  .dir__message {
  }

  .dir__committer {
  }

  .dir__date {
  }

  .dir__link {
    display: none;
  }
}
